
<% if current_user %>
 <h2>Welcome, <%= current_user.name %></h2>
 <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
<h2>Welcome! Please log in.</h2>
<%= link_to 'Login with Github', "/auth/github" %>
<% end %>